.container {
    padding: 20px;
}

.saleCard {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itemCard {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.itemCard:hover {
    transform: translateY(-5px);
}

.itemImage {
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
